<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <title>Title</title>
</head>
<body>
    <form id="submission-form" method="post" action="verify">
        <label for="screen-name">Twitter Username</label><br>
        <input id="screen-name" name="screenname" /><br>
        <label for="tweet-body">Tweet</label><br>
        <textarea cols="50" rows="5" id="tweet-body" name="body"></textarea><br>
        <label for="tweet-date">Date</label>
        <input id="tweet-date" name="date" type="date" />
        <label for="tweet-time">Time</label>
        <input id="tweet-time" name="time" type="time" /><br>
        <input name="submit" type="submit">
    </form>
</body>
</html>